.add-property{
    display: flex;
    flex-direction: column;
    max-width:80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(144, 144, 144, 0.518);
}
.add-property h2{
    font-size: 28px;
    margin-bottom: 30px;
    color: #02066F;
    text-align: center;
}
.add-property h3{
    font-size: 18px;
    margin-bottom: 20px;
}
.add-property div div{
    margin-bottom: 15px;
}
.add-property label{
    color: grey;
    font-size: 15px;
    display: block;
    margin-bottom: 3px;
}

.add-property select{
    padding: 10px;
    height: 40px;
    width: 200px;
    border-radius: 2px;
    font-size: 16px;
}


.info{
    display: flex;
    flex-direction: column;
}

.listInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ms, .ct, .typ, .st{
    width: 100%;
}



.ms select, .ct select ,.typ select, .st select{
    min-width: 100%;
}
.add-property input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1.5px solid rgba(187, 187, 187, 0.962);
    border-radius: 5px;
}
.add-property textarea{
    width: 100%;
    border: 1.5px solid rgba(187, 187, 187, 0.962);
    outline: none;
    border-radius: 7px;
    min-height: 80px;
    max-height: 200px;
}
.add-property label span{
    color: rgb(194, 5, 5);
}

.location{
    display: flex;
    flex-direction: column;
}

.location .state, .cty{
    width: 100%;
}

.location .state select, .cty select{
    width: 100%;
}

.price{
    display: flex;
    flex-direction: column;
}

.frequency{
    width: 100%;
}

.frequency select{
    width: 100%;
}

.add-info{
    display: flex;
    flex-direction: column;
}



.furnished{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.serviced{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 10px;
}

.checkTicks{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.checkTicks input{
    padding: 10px;
    width: 20px;
    border: none;
}

.checkTicks input:checked {
    background-color: #02066F;
}

form button{
    padding: 15px;background-color: #02066F;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 13px;
}

.rules{
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

@media only screen and (max-width : 600px){
    .add-property{
        max-width: 100%;
    }
}