.advertise{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    width: 80%;
    margin: auto;
}
.advertise h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.advertise h1 span{
    color: #42f5bc;
    font-size: 26px;
}
.advertise p{
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.advertise h2{
    margin-bottom: 80px;
    font-weight: 400;
}
.advertise .industry{
    display: flex;
    justify-content: space-between;
}
.advertise .industry div{
    width: 24%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(128, 128, 128, 0.214);
    transition: 0.3s;
}
.advertise .industry div:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 12px #42f5bc;
}
.advertise .industry div:hover a{
    color: #42f5bc;
}
.industry div img{
    height: 150px;
    margin-bottom: 30px;
    display: block;
    border: 1px solid black;
}
.industry div h5{
    font-size: 21px;
    margin-bottom: 15px;
}
.industry div a{
    display: inline-block;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    border: 1px solid #42f5bc;
    padding: 15px 30px;
    margin-bottom: 40px;
    color: black;
    transition: 0.4s;
}
.advertise .industry div a:hover{
    background-color: #42f5bc;
    color: white;
}



@media screen and (max-width:1200px) {
    .advertise h1{
        margin-bottom: 20px;
    }
    .advertise p{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .advertise h2{
        font-size: 22px;
        margin-bottom: 50px;
    }
    .industry div h5{
        font-size: 16px;
    }
    .industry div a{
        font-size: 15px;
        padding: 10px 20px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:1000px) {
    .advertise{
        padding-top: 50px;
    }
    .advertise .industry{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 40% 40%;
        justify-content: space-evenly;
        row-gap: 7%;
        
    }
    .advertise .industry div{
        width: 100%;
        justify-content: space-evenly;
    }

}

@media screen and (max-width:700px) {
    .advertise{
        width: 90%;
    }
    .advertise h1{
        margin-bottom: 15px;
        font-size: 22px;
    }
    .advertise h1 span{
        font-size: 24px;
    }
    .advertise p{
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .advertise h2{
        font-size: 19px;
        margin-bottom: 30px;
    }

    .industry div h5{
        font-size: 15px;
    }
    .industry div a{
        font-size: 14px;
        padding: 7px 15px;
        margin-bottom: 20px;
    }
    .advertise .industry{
        row-gap: 4%;
    }
}

@media screen and (max-width:500px) {
    .advertise{
        width: 95%;
    }
    .advertise h1{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .advertise h1 span{
        font-size: 22px;
    }
    .advertise p{
        font-size: 13px;
        line-height: 20px;
    }
    .advertise h2{
        font-size: 19px;
        margin-bottom: 25px;
    }

    .industry div h5{
        font-size: 15px;
    }
    .industry div a{
        font-size: 13px;
        padding: 5px 15px;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    .advertise .industry{
        grid-template-columns: 46% 46%;
        row-gap: 3%;
    }
}