* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
    height: 70px;
    margin-bottom: 50px;
}

.sdevice{
    display: none;
}

.bdevice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo img {
    width: 100px;
}

header ul {
    list-style: none;
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
}

header ul li {
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}

header ul li a {
    color: inherit;
    text-decoration: none;
}

header ul li:hover {
    color: black;
}

.bigscreen{
    display: flex;
    flex-direction: column;
}

.bigscreen header{
    margin-bottom: 60px;
}

.bigscreen .banner{
    background: url('../components/images/real-estate2-768x432.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    margin-bottom: 100px;
}

.drawer{
    position: fixed;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    width: 0vw;
    transition: all 0.6s ease-in;
}

.banner {
    border: 1px solid black;
    height: 35vh;
    text-align: center;
    padding-top: 50px;
}


.banner h1 {
    margin-bottom: 50px;
    font-size: 35px;
    color: white;
}


.search {
    margin: auto;
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.search input {
    outline: none;
    border: none;
    transition: 0.4s;
    padding: 8px;
    font-size: 18px;
    width: 660px;
}

.search input:focus{
    border: transparent;
}


.sign-in {
    width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.sign-in article {
    width: 30%;
    text-align: center;
}

.sign-in figure {
    height: 300px;
    width: 60%;
    float: right;
}

.sign-in figure img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sign-in h3 {
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sign-in p {
    margin-bottom: 10px;
    font-size: 18px;
}

.sign-in a {
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
    color: #42f5bc;
    border-radius: 5px;
    border: 1px solid;
}

.sign-in a:hover {
    background-color: #42f5bc;
    color: white;
}

.width-80 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column
}

.cta {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-between;
    width: 1100px;
}

.cta div {
    text-align: center;
    width: 30%;
    padding: 20px;
    transition: 300ms;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(144, 144, 144, 0.518);
}

.cta div:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 15px rgba(164, 164, 164, 0.803);
}

.cta div:hover button {
    background-color: #42f5bc;
    color: white;
}

.cta div img {
    height: 150px;
    margin-bottom: 20px;
    display: block;
    object-fit: contain;
    width: 100%;
}

.cta div h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.cta div p {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
}

.cta div button {
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    color: #42f5bc;
    border-radius: 5px;
    border: 1px solid #42f5bc;
    margin-bottom: 40px;
}
.cta div a{
    text-decoration: none;
    color: unset;
}

.dropdown {
    display: flex;
    margin: auto;
    padding: 30px 0;
    width: 1050px;
    margin-bottom: 100px;
}

.dropdown div {
    text-align: center;
    flex: 1;
    border-left: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown div:first-of-type {
    border: none;
}

.dropdown div h5 {
    font-size: 15px;
    font-weight: 500;
}

.advertise {
    padding-top: 100px;
    text-align: center;
}

.advertise h1 {
    font-size: 25px;
    margin-bottom: 30px;
}

.advertise h1 span {
    color: limegreen;
    font-size: 26px;
}

.advertise p {
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.advertise h2 {
    margin-bottom: 80px;
}

.advertise .industry {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.advertise .industry div {
    width: 24%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(128, 128, 128, 0.214);
    transition: 0.3s;
}

.advertise .industry div:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(50, 205, 50, 0.473);
}

.advertise .industry div:hover a {
    color: limegreen;
}

.industry div img {
    height: 150px;
    margin-bottom: 30px;
    display: block;
    border: 1px solid black;
}

.industry div h5 {
    font-size: 21px;
    margin-bottom: 15px;
}

.industry div a {
    display: inline-block;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    border: 1px solid limegreen;
    padding: 15px 30px;
    margin-bottom: 40px;
    color: black;
    transition: 0.4s;
}

.advertise .industry div a:hover {
    background-color: rgba(50, 205, 50, 0.685);
    color: white;
}

.footer{
    width: 1050px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.smallscreen{
    display: none;
    margin-bottom: 100px;
}





@media only screen and (max-width : 600px) {


    .sdevice{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }
     
    .smallscreen{
        display: flex;
        flex-direction: column;
    }


    .bigscreen{
        display: none;
    } 

    header{
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
    }

    header .logo{
        transform: scale(1.5) translateY(5px);
        margin-left: 20px;
    }

    .banner h1{
        color: black;
    }

    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        height: 30vh;
        border: none;
        box-shadow: 0 1px 10px rgba(128, 128, 128, 0.214);

    }

    .search{
        width: 80vw;
        border: 1px solid #42f5bc;
    }

    .search input{
        font-size: 16px;
    }

    .width-80{
        width: 90%;
    }

    .sign-in{
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .sign-in article{
        width: 100%;
        margin-bottom: 20px;
    }

    .sign-in figure{
        width: 110%;
    }

    .cta{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .cta div{
        width: 100%;
    }

    .dropdown{
        width: 100%;
    }

    .footer{
        width: 100%;
    }

    .footer img{
        width: 100%;
    }
}